.jumbotron {
    margin-top: 50px;
    max-height: 250px;
    font-family: 'EB Garamond', serif;
    background-image: url("../../images/got-background.jpg");
    background-position-x: 50%;
    background-position-y: 15%;
  }

h1, h3 {
    text-align: center;
}
  